S3/M3.6 XML et Technologie Web/Conception et développement XML/EXAM/corrigés/2009_exo1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="raison">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Achat d&apos;ordinateur"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="personne">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mohamed Ali"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="montant">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1010.24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="facture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="personne"/>
				<xs:element ref="montant"/>
				<xs:element ref="raison"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
